page-popup {
         ion-content {
             background-size: cover;
             
        }   
    content {
        padding-top: 20px;
        color: #fff;
    }
    content p{
        font-size: 1.3em;
    }
}
