// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals"; // Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0a69a3,
  secondary:  #7f8c8d,
  danger:     #f53d3d,
  light:      #8dcdfa,
  accent : #EFEFF4,
  dark : #292F36,
  favorite : #69BB7B,
  green : #437BBE,
  red : #FF2D55,
  brown: #8E8E93,
    bleu: #6c9ad2,
    header: #0a69a3,  
    player: #ffffff, //7ab3e5
    white: #ffffff,
    orange_fonce: #FFB94A,
    orange_clair: #FFEA4A
);
$app-background: linear-gradient(to bottom, color($colors, bleu) 0%, color($colors, light) 50%);
$app-background-menu: linear-gradient(to bottom, color($colors, orange_clair) 0%, color($colors, orange_fonce) 0%);

$background-color: transparent;
$toolbar-background: transparent;



// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
 
//$background-color: #3c353c;
 
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
 




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default"; // App Animation
// --------------------------------------------------
@import "animate"; // App Main Sass
// --------------------------------------------------
@import "main"; // Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
// // App Fontelo Style
//--------------------------------------------------
@import "fontello";
@import "ionicons"; // Fonts
// --------------------------------------------------
@import "roboto";
@import "san-francisco";
