page-home {
    .hero-home {
        width: 100%;
    }

    .hero-bg {
        background-image: url('../assets/imgs/hero-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .footer-player {
        //background-image: url('../assets/imgs/player-bg.png');
        background-color: black;
        
    }

    .play-button {
        width: 3em;
        height: auto;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .stop-button {
        width: 3em;
        height: auto;
        text-align: center;
    }

    .posts-style {
        background: rgba(0, 0, 0, 0.7);
        margin-top: 1em;
        margin-bottom: 2em;
        padding: 0;
    }

    .post-image {
        width: 100%;
        height: auto;
    }

    .post-title {
        text-align: left;
        font-size: 2em;
        color: whitesmoke;
        font-weight: bold;
        padding-left: 5%;
    }

    .post-subtitle {
        text-align: left;
        font-size: 1em;
        color: orangered;
        padding-left: 5%;
        padding-bottom: 2%;
    }
      
}
